# Node
node_modules/
dist/
.angular/

# .NET
bin/
obj/
*.user
*.suo
*.db
*.db-shm
*.db-wal

# IDE
.idea/
.vscode/
*.swp
*.sln.DotSettings.user

# OS
.DS_Store
Thumbs.db

# Env
.env
appsettings.Development.json
